<!-- views/pages/login.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Crowd Pulse API Login</title>
    <% include ../partials/head.ejs %>
</head>
<body class="container">

<main>
    <form method="post">
        <label for="username">username</label>
        <input type="text" name="username" />
        <label for="password">password</label>
        <input type="password" name="password" />
        <input type="hidden" name="redirect_uri" value="<% redirect_uri %>" />
        <input type="hidden" name="client_id" value="<%= client_id %>" />
        <input type="submit" value="Login!" />
    </form>
</main>

</body>
</html>