.idea/
.gradle/
*.iml
*/build/
*/node_modules/
build/
gradle/
temp/
*/src/test/resources/*.properties
playground-cli/src/main/resources/*
!playground-cli/src/main/resources/*.sample
!playground-cli/src/main/resources/*.json