.idea/
.gradle/
*.iml
*/build/
*/node_modules/
build/
gradle/
temp/
*/src/main/resources/*.properties
*/src/main/resources/*.bin
*/src/test/resources/*.properties
playground-cli/src/main/resources/stop-words-*
