.idea/
.gradle/
*.iml
*/bower_components/
*/build/
*/node_modules/
build/
gradle/
temp/

# Ingore all resource files
*/src/main/resources/*
# Keep SPIs, samples and jsons
!*/src/main/resources/services
!*/src/main/resources/*.sample
!*/src/main/resources/*.json

# core: ignore all json files
core/src/main/resources/*.json

# web-ui: ignore dist and temporary dirs
web-ui/.sass-cache/
web-ui/.tmp/
web-ui/dist/