/**
 *  Do not remove this comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

body {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

md-tabs.md-full-tabs-template md-tab-content {
  flex: 1;
  @include flex-column;
}

md-tabs.md-full-tabs-template div[md-tabs-template] {
  flex: 1;
  @include flex-column;
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
