<sidenav-view id="sidenav-view" layout="column" params="vm.params"></sidenav-view>

<md-content layout-padding ng-if="!vm.params.dataViz">
  <p>This is the main view page.</p>
  <p>Please select a data visualization type from the left sidebar.</p>
</md-content>

<md-content flex layout="column" layout-padding>
  <jqcloud ng-if="vm.params.dataViz === 'word-cloud'" words="vm.stat" flex auto-resize="true"></jqcloud>
  <chart ng-if="vm.params.dataViz === 'word-pie'" flex options="vm.stat"></chart>
  <chart ng-if="vm.params.dataViz === 'word-bar'" flex options="vm.stat"></chart>
  <chart ng-if="vm.params.dataViz === 'sentiment-pie'" flex options="vm.stat"></chart>
  <chart ng-if="vm.params.dataViz === 'sentiment-bar'" flex options="vm.stat"></chart>
  <chart ng-if="vm.params.dataViz === 'sentiment-timeline'" flex options="vm.stat"></chart>
  <chart ng-if="vm.params.dataViz === 'message-timeline'" flex options="vm.stat"></chart>
</md-content>
