<sidenav>
  <md-content>
    <md-toolbar class="md-theme-light">
      <h1 class="md-toolbar-tools">Filters</h1>
    </md-toolbar>
    <md-content layout-padding>
      <form name="sidenav-filter-form" layout="column">
        <md-input-container>
          <label>Database</label>
          <md-select ng-model="sidenavViewVm.params.database">
            <md-option ng-repeat="db in sidenavViewVm.databases" value="{{db.name}}">
              {{db.name}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container>
          <label>Data visualization</label>
          <md-select ng-model="sidenavViewVm.params.dataViz" placeholder="Data visualization">
            <md-optgroup ng-repeat="(key, elem) in sidenavViewVm.viz | groupBy:'group'"
                         label="{{key}}">
              <md-option ng-repeat="viz in elem" ng-value="viz.id">{{viz.name}}</md-option>
            </md-optgroup>
          </md-select>
        </md-input-container>
        <div ng-if="sidenavViewVm.hasParam(sidenavViewVm.filterDateRange)"
             class="md-custom-container with-padding" layout="row">
          <md-datepicker ng-model="sidenavViewVm.params.fromDate" md-placeholder="From date"
                         flex></md-datepicker>
          <md-button class="md-icon-button clear"
                     ng-click="sidenavViewVm.params.fromDate = undefined">
            <md-icon>clear</md-icon>
          </md-button>
        </div>
        <div ng-if="sidenavViewVm.hasParam(sidenavViewVm.filterDateRange)"
             class="md-custom-container with-padding" layout="row">
          <md-datepicker ng-model="sidenavViewVm.params.toDate" md-placeholder="To date"
                         flex></md-datepicker>
          <md-button class="md-icon-button clear"
                     ng-click="sidenavViewVm.params.toDate = undefined">
            <md-icon>clear</md-icon>
          </md-button>
        </div>
        <md-input-container ng-if="sidenavViewVm.hasParam(sidenavViewVm.filterTerm)">
          <label>Filter on</label>
          <md-select flex ng-model="sidenavViewVm.params.filterOn">
            <md-option ng-repeat="filter in sidenavViewVm.availableFilters" value="{{filter.type}}">
              {{filter.name}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-chips
          ng-if="sidenavViewVm.hasParam(sidenavViewVm.filterQuery) && sidenavViewVm.params.filterOn !== ''"
          ng-model="sidenavViewVm.params.query" md-autocomplete-snap md-require-match="true">
          <md-autocomplete
            md-selected-item="sidenavViewVm.selectedItem"
            md-search-text="sidenavViewVm.searchQueryElement"
            md-items="item in sidenavViewVm.queryForElement(sidenavViewVm.searchQueryElement, sidenavViewVm.params.filterOn)"
            md-item-text="item.name"
            md-min-length="0"
            placeholder="{{'Search for ' + sidenavViewVm.params.filterOn}}">
            <span md-highlight-text="sidenavViewVm.searchQueryElement">{{item}}</span>
          </md-autocomplete>
          <md-chip-template>
            <span>{{$chip}}</span>
          </md-chip-template>
        </md-chips>
        <md-chips ng-if="sidenavViewVm.hasParam(sidenavViewVm.filterProfile)"
                  ng-model="sidenavViewVm.params.users" md-autocomplete-snap
                  md-require-match="true">
          <md-autocomplete
            md-selected-item="sidenavViewVm.selectedUser"
            md-search-text="sidenavViewVm.searchQueryUser"
            md-items="item in sidenavViewVm.queryForUser(sidenavViewVm.searchQueryUser)"
            md-item-text="item.name"
            md-min-length="0"
            placeholder="Search for users">
            <span md-highlight-text="sidenavViewVm.searchQueryUser">{{item}}</span>
          </md-autocomplete>
          <md-chip-template>
            <span>{{$chip}}</span>
          </md-chip-template>
        </md-chips>
      </form>
    </md-content>
  </md-content>
</sidenav>
